:root {
	--color-dark-slate-gray: hsl(178deg 41% 25%);
	--color-teal-blue: hsl(196deg 36% 41%);
	--color-eggshell: hsl(53deg 44% 88%);
	--color-metallic-sunburst: hsl(40deg 43% 46%);
	--color-maize-crayola: hsl(43deg 92% 63%);

	font-size: 6.25%;
}

body {
	background-color: var(--color-eggshell);
	font-family: Open Sans, sans-serif;
	font-size: 16rem;
}

.snake-game-container {
	margin-inline: auto;
	padding: 16rem;
	text-align: center;
}

.snake-game-title {
	color: var(--color-dark-slate-gray);
	font-size: 30rem;
	margin-block-end: 30rem;
	text-align: center;
}

.snake-game-canvas {
	background-color: var(--color-maize-crayola);
	border: 2rem dashed var(--color-metallic-sunburst);
	border-radius: 3rem;
	padding: 3rem;
}

.snake-game-start-button-container {
	display: flex;
	justify-content: center;
	margin-block-start: 30rem;
}

.snake-game-start-button {
	background-color: var(--color-dark-slate-gray);
	border-radius: 3rem;
	color: var(--color-eggshell);
	padding-block: 10rem;
	padding-inline: 25rem;
	transition: background-color 80ms ease, box-shadow 80ms ease,
		opacity 200ms linear, scale 200ms ease-in-out;

	@media (hover: hover) {
		&:hover {
			background-color: var(--color-metallic-sunburst);
		}
	}

	&:focus-visible {
		outline: 2rem dashed var(--color-metallic-sunburst);
		outline-offset: 2rem;
	}

	&:active {
		box-shadow: 0 0 6rem rgb(0 0 0 / 50%);
	}

	&:disabled {
		opacity: 0.6;
	}
}

.snake-game-start-button.game-in-progress {
	opacity: 0.3;
	scale: 0.8;
}
