:root {
	--color-dark-slate-gray: hsl(178deg 41% 25%);
	--color-teal-blue: hsl(196deg 36% 41%);
	--color-eggshell: hsl(53deg 44% 88%);
	--color-metallic-sunburst: hsl(40deg 43% 46%);
	--color-maize-crayola: hsl(43deg 92% 63%);

	font-size: 6.25%;
}

body {
	background-color: var(--color-eggshell);
	font-family: Open Sans, sans-serif;
	font-size: 16rem;
}

.snake-game-container {
	margin-inline: auto;
	max-inline-size: 600rem;
	padding: 16rem;
}

.snake-game-title {
	color: var(--color-dark-slate-gray);
	font-size: 30rem;
	margin-block-end: 20rem;
	text-align: center;
}

.snake-game-canvas {
	background-color: var(--color-maize-crayola);
	border: 1rem dashed var(--color-metallic-sunburst);
	inline-size: 100%;
}
