@layer theme {
	:root {
		--color-dark-slate-gray: hsl(178deg 41% 25%);
		--color-teal-blue: hsl(196deg 36% 35%);
		--color-eggshell: hsl(53deg 44% 88%);
		--color-metallic-sunburst: hsl(35deg 60% 35%);
		--color-maize-crayola: hsl(43deg 92% 63%);
	}
}
